<!--  ==================== ABOUT ME SWIPPER ====================  -->
<div class="container-about-me-swiper">
  <div class="swiper swiper-about-me swiper-about-me-left">
    <ul class="swiper-wrapper container-skills">
      <li class="swiper-slide container-item-skills">HTML/CSS</li>
      <li class="swiper-slide container-item-skills">JavaScript</li>
      <li class="swiper-slide container-item-skills">React</li>
      <li class="swiper-slide container-item-skills">Node.js</li>
      <li class="swiper-slide container-item-skills">React Native</li>
      <li class="swiper-slide container-item-skills">Soft skills</li>
      <li class="swiper-slide container-item-skills">HTML/CSS</li>
      <li class="swiper-slide container-item-skills">JavaScript</li>
      <li class="swiper-slide container-item-skills">React</li>
      <li class="swiper-slide container-item-skills">Node.js</li>
      <li class="swiper-slide container-item-skills">React Native</li>
      <li class="swiper-slide container-item-skills">Soft skills</li>
    </ul>
  </div>

  <div class="btn-skill-next">
    <svg class="icon-arrow-right">
      <use href="/images/icons/icons-sprite.svg#arrow-right"></use>
    </svg>
  </div>
</div>
