<!--  ==================== ABOUT ME SWIPPER ====================  -->
<div class="container-about-me-swiper container">
  <div class="swiper swiper-about-me swiper-about-me-left">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper container-skills">
      <!-- Slides -->
      <div class="swiper-slide container-item-skills skill-active">
        HTML/CSS
      </div>
      <div class="swiper-slide container-item-skills">JavaScript</div>
      <div class="swiper-slide container-item-skills">React</div>
      <div class="swiper-slide container-item-skills">Node.js</div>
      <div class="swiper-slide container-item-skills">React Native</div>
      <div class="swiper-slide container-item-skills">Soft skills</div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-next js-swiper-button-next">
    <button class="btn-icon-right">
      <svg class="icon-arrow-right">
        <use xlink:href="/images/icons/icons-sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
