<div class="about-me-title-container">
  <div class="about-me-title">
    <h2 class="about-me-header">
      I work with people all over the world to create impressive and
      <span class="about-me-span-functional">functional</span>
      <span class="about-me-span-websites">websites</span> that reflect each
      client's unique personality.
    </h2>
  </div>
  <div class="about-me-picture">
    <picture>
      <source
        type="image/webp"
        srcset="
          /images/about-me/about-me-desktop-img.webp    1x,
          /images/about-me/about-me-desktop-img@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        type="image/jpg"
        srcset="
          /images/about-me/about-me-desktop-img.jpg    1x,
          /images/about-me/about-me-desktop-img@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />

      <source
        type="image/webp"
        srcset="
          /images/about-me/about-me-tablet-img.webp    1x,
          /images/about-me/about-me-tablet-img@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        type="image/jpg"
        srcset="
          /images/about-me/about-me-tablet-img.jpg    1x,
          /images/about-me/about-me-tablet-img@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        type="image/webp"
        srcset="
          /images/about-me/about-me-mobile-img.webp    1x,
          /images/about-me/about-me-mobile-img@2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <source
        type="image/jpg"
        srcset="
          /images/about-me/about-me-mobile-img.jpg    1x,
          /images/about-me/about-me-mobile-img@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />

      <img
        class="about-me-title-img"
        src="/images/about-me/about-me-desktop-img.jpg"
        alt="man"
        width="680"
        height="700"
        loading="lazy"
      />
    </picture>
  </div>
</div>
