<section class="covers section container" id="covers">
  <div class="covers-bg-container"></div>
  <h2>Covers</h2>
  <div class="covers-content">
    <div class="covers-merquee">
      <div class="covers-merquee-inner">
        <ul class="covers-list">
          <li class="marquee__line-raw">
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-1.jpg    1x,
                      ./img/covers/covers-desktop-slide-1@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-1.jpg    1x,
                      ./img/covers/covers-mobile-slide-1@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-1.jpg"
                    alt="a brand that is inspired by forms creates by nature"
                    loading="lazy"
                  />
                </picture> -->
            <!-- ************** 2 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-2.jpg    1x,
                      ./img/covers/covers-desktop-slide-2@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-2.jpg    1x,
                      ./img/covers/covers-mobile-slide-2@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-2.jpg"
                    alt="Transforming your body share with Power Pulse"
                    loading="lazy"
                  />
                </picture> -->
            <!-- ************** 3 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-3.jpg    1x,
                      ./img/covers/covers-desktop-slide-3@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-3.jpg    1x,
                      ./img/covers/covers-mobile-slide-3@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-3.jpg"
                    alt="MIMINO"
                    loading="lazy"
                  />
                </picture> -->
            <!-- ************** 4 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-4.jpg    1x,
                      ./img/covers/covers-desktop-slide-4@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-4.jpg    1x,
                      ./img/covers/covers-mobile-slide-4@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-4.jpg"
                    alt="manage your finances masterfully"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 5 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-5.jpg    1x,
                      ./img/covers/covers-desktop-slide-5@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-5.jpg    1x,
                      ./img/covers/covers-mobile-slide-5@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-5.jpg"
                    alt="welcome to our collection of premium watches"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 6 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-6.jpg    1x,
                      ./img/covers/covers-desktop-slide-6@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-6.jpg    1x,
                      ./img/covers/covers-mobile-slide-6@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-6.jpg"
                    alt="Reviving the traditional Ukrainian artistry in every stitch"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 7 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-7.jpg    1x,
                      ./img/covers/covers-desktop-slide-7@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-7.jpg    1x,
                      ./img/covers/covers-mobile-slide-7@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-7.jpg"
                    alt="organic vegetables to your diet today!"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 8 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-8.jpg    1x,
                      ./img/covers/covers-desktop-slide-8@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-8.jpg    1x,
                      ./img/covers/covers-mobile-slide-8@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-8.jpg"
                    alt="get body in share, stay healthy"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 9 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-9.jpg    1x,
                      ./img/covers/covers-desktop-slide-9@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-9.jpg    1x,
                      ./img/covers/covers-mobile-slide-9@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-9.jpg"
                    alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ************** 10 ****************** -->
            <!-- <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/covers/covers-desktop-slide-10.jpg    1x,
                      ./img/covers/covers-desktop-slide-10@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/covers/covers-mobile-slide-10.jpg    1x,
                      ./img/covers/covers-mobile-slide-10@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./img/covers/covers-mobile-slide-10.jpg"
                    alt="discover the joy of learning english with us"
                    loading="lazy"
                  />
                </picture> -->

            <!-- ****************************************************** -->
            <img
              src=" ./images/covers/screen_1.jpg"
              alt="turn your busines into an online leader"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_10.jpg"
              alt="Transforming your body share with Power Pulse"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_11.jpg"
              alt="manage your finances masterfully"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_12.jpg"
              alt="discover the joy of learning english with us"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_4.jpg"
              alt="get body in share, stay healthy"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_5.jpg"
              alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_6.jpg"
              alt="a brand that is inspired by forms creates by nature"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_7.jpg"
              alt="MIMINO"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_8.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_9.jpg"
              alt="organic vegetables to your diet today!"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="covers-merquee-inner">
        <ul class="covers-list">
          <li class="marquee__line-raw">
            <img
              src=" ./images/covers/screen_1.jpg"
              alt="turn your busines into an online leader"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_10.jpg"
              alt="Transforming your body share with Power Pulse"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_11.jpg"
              alt="manage your finances masterfully"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_12.jpg"
              alt="discover the joy of learning english with us"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_4.jpg"
              alt="get body in share, stay healthy"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_5.jpg"
              alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_6.jpg"
              alt="a brand that is inspired by forms creates by nature"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_7.jpg"
              alt="MIMINO"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_8.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_9.jpg"
              alt="organic vegetables to your diet today!"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="covers-merquee-inner">
        <ul class="covers-list">
          <li class="marquee__line-raw">
            <img
              src=" ./images/covers/screen_1.jpg"
              alt="turn your busines into an online leader"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_10.jpg"
              alt="Transforming your body share with Power Pulse"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_11.jpg"
              alt="manage your finances masterfully"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_12.jpg"
              alt="discover the joy of learning english with us"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_4.jpg"
              alt="get body in share, stay healthy"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_5.jpg"
              alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_6.jpg"
              alt="a brand that is inspired by forms creates by nature"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_7.jpg"
              alt="MIMINO"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_8.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_9.jpg"
              alt="organic vegetables to your diet today!"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="covers-merquee-inner">
        <ul class="covers-list">
          <li class="marquee__line-raw">
            <img
              src=" ./images/covers/screen_1.jpg"
              alt="turn your busines into an online leader"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_10.jpg"
              alt="Transforming your body share with Power Pulse"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_11.jpg"
              alt="manage your finances masterfully"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_12.jpg"
              alt="discover the joy of learning english with us"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_4.jpg"
              alt="get body in share, stay healthy"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_5.jpg"
              alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_6.jpg"
              alt="a brand that is inspired by forms creates by nature"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_7.jpg"
              alt="MIMINO"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_8.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_9.jpg"
              alt="organic vegetables to your diet today!"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="covers-merquee-inner">
        <ul class="covers-list">
          <li class="marquee__line-raw">
            <img
              src=" ./images/covers/screen_1.jpg"
              alt="turn your busines into an online leader"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_10.jpg"
              alt="Transforming your body share with Power Pulse"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_11.jpg"
              alt="manage your finances masterfully"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_12.jpg"
              alt="discover the joy of learning english with us"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_4.jpg"
              alt="get body in share, stay healthy"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_5.jpg"
              alt="fresh harvest box is your one-stop plase for a delecious fruit basket"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_6.jpg"
              alt="a brand that is inspired by forms creates by nature"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_7.jpg"
              alt="MIMINO"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_8.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
            />
            <img
              src="./images/covers/screen_9.jpg"
              alt="organic vegetables to your diet today!"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
