<section class="covers-section section">
  <div class="cover-wrraper">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee">
      <li class="marquee__inner">
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-6.jpg    1x,
              /images/covers/covers-desktop-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-6.jpg    1x,
              /images/covers/covers-mobile-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-6.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
      </li>

      <li class="marquee__inner">
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-1.jpg    1x,
              /images/covers/covers-desktop-slide-1@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-1.jpg    1x,
              /images/covers/covers-mobile-slide-1@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-1.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-2.jpg    1x,
              /images/covers/covers-desktop-slide-2@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-2.jpg    1x,
              /images/covers/covers-mobile-slide-2@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-2.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-3.jpg    1x,
              /images/covers/covers-desktop-slide-3@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-3.jpg    1x,
              /images/covers/covers-mobile-slide-3@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-3.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-1.jpg    1x,
              /images/covers/covers-desktop-slide-1@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-1.jpg    1x,
              /images/covers/covers-mobile-slide-1@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-1.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-2.jpg    1x,
              /images/covers/covers-desktop-slide-2@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-2.jpg    1x,
              /images/covers/covers-mobile-slide-2@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-2.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
      </li>

      <li class="marquee__inner">
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-6.jpg    1x,
              /images/covers/covers-desktop-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-6.jpg    1x,
              /images/covers/covers-mobile-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-6.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
      </li>

      <li class="marquee__inner">
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-7.jpg    1x,
              /images/covers/covers-desktop-slide-7@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-7.jpg    1x,
              /images/covers/covers-mobile-slide-7@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-7.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-8.jpg    1x,
              /images/covers/covers-desktop-slide-8@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-8.jpg    1x,
              /images/covers/covers-mobile-slide-8@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-8.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-9.jpg    1x,
              /images/covers/covers-desktop-slide-9@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-9.jpg    1x,
              /images/covers/covers-mobile-slide-9@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-9.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-10.jpg    1x,
              /images/covers/covers-desktop-slide-10@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-10.jpg    1x,
              /images/covers/covers-mobile-slide-10@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-10.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-7.jpg    1x,
              /images/covers/covers-desktop-slide-7@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-7.jpg    1x,
              /images/covers/covers-mobile-slide-7@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-7.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
      </li>

      <li class="marquee__inner">
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-6.jpg    1x,
              /images/covers/covers-desktop-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-6.jpg    1x,
              /images/covers/covers-mobile-slide-6@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-6.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-4.jpg    1x,
              /images/covers/covers-desktop-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-4.jpg    1x,
              /images/covers/covers-mobile-slide-4@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-4.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
        <picture class="marquee__line">
          <source media="(min-width: 768px)" srcset="
              /images/covers/covers-desktop-slide-5.jpg    1x,
              /images/covers/covers-desktop-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 320px)" srcset="
              /images/covers/covers-mobile-slide-5.jpg    1x,
              /images/covers/covers-mobile-slide-5@2x.jpg 2x
            " type="image/jpg" />
          <img class="covers-card-img" src="/images/covers/covers-desktop-slide-5.jpg" alt="" width="544" height="314"
            loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>