<section class="faq section" id="faq">
  <div class="accordion-faq container">
    <h2 class="title-faq">FAQ</h2>

    <ul class="accordion-container-faq accordion-faq-list">
      <li class="ac accordion-faq-item">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            What programming languages are most often used in your project?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac accordion-faq-item null">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            What are the deadlines for the project?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac accordion-faq-item">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            What payment methods do you accept?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac accordion-faq-item third">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            How can I contact you?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac accordion-faq-item">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            Do you provide advice or support?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac accordion-faq-item last-element five">
        <h3 class="ac-header accordion-faq-header">
          <button class="ac-trigger accordion-faq-button">
            What does the process of developing a software product look like
            from idea to implementation?
            <span class="arrow-container">
              <svg class="arrow-faq" width="10" height="10">
                <use href="./images/icons/icons-sprite.svg#arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel accordion-faq-answer">
          <p class="answer-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
