<footer class="footer" id="work-together">
  <div class="footer-wrraper container">
    <div class="footer-logo-box">
      <picture class="footer-logo-picture">
        <source
          media="(min-width: 768px)"
          srcset="
            /images/work-together/work-together-desktop-logo.webp    1x,
            /images/work-together/work-together-desktop-logo@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/work-together/work-together-desktop-logo.jpg    1x,
            /images/work-together/work-together-desktop-logo@2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            /images/work-together/work-together-mobile-logo.webp    1x,
            /images/work-together/work-together-mobile-logo@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /images/work-together/work-together-mobile-logo.jpg    1x,
            /images/work-together/work-together-mobile-logo@2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          src="/images/work-together/work-together-desktop-logo.jpg"
          alt=""
          class="footer-logo-img"
          width="70"
          height="70"
          loading="lazy"
        />
      </picture>
      <h2 class="title-footer">
        LET’S <span class="title-footer-work"> WORK </span><br />TOGETHER
      </h2>
    </div>

    <form class="form">
      <div class="form-input-box">
        <input
          class="footer-input"
          type="email"
          placeholder="clients@gmail.com"
          name="email"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <span class="message success-message">Succes!</span>
        <span class="message error-message">Invalid email, try again</span>
        <input
          class="footer-input textarea"
          name="comment"
          placeholder="comments"
          required
        />
      </div>
      <button class="footer-btn-send" type="submit" aria-label="send">
        Send
      </button>
    </form>

    <address class="address">
      <ul class="contact">
        <li class="contact-el">
          <a class="contact-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contact-el">
          <a class="contact-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>

<div class="modal-overlay">
  <div class="modal-window">
    <button class="close-btn" type="button" aria-label="close modal window">
      <svg class="close-svg" width="22" height="22">
        <use href="/images/icons/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <h3 class="title-footer-modal"></h3>
    <p class="title-footer-message"></p>
  </div>
</div>
