<header class="header section">
  <div class="container-header container">
    <div class="photo-name">
      <a href="index.html" class="header-link-picture">
        <picture
          ><source
            srcset="
              /images/header/header-desktop-logo.jpg    1x,
              /images/header/header-desktop-logo@2x.jpg 2x
            "
          />
          <img
            class="logo"
            src="/images/header/header-desktop-logo.jpg"
            alt="man"
            width="80px"
            height="80px"
          />
        </picture>
      </a>
      <p class="header-name">jefferson*</p>
    </div>
    <div class="menu-container">
      <button class="menu-btn" id="menuBtn">Menu</button>
      <nav class="menu-content" id="menuContent">
        <ul>
          <li>
            <a class="header-menu-items" href="#about">About me</a>
          </li>
          <li>
            <a class="header-menu-items" href="#benefits">Benefits</a>
          </li>
          <li>
            <a class="header-menu-items" href="#projects">Projects</a>
          </li>
          <li>
            <a class="header-menu-items" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>

    <button class="burger-menu-btn" id="burger-menu" type="button">
      <svg
        class="burger-menu-icon"
        width="28"
        height="28"
        aria-label="icon burger menu"
      >
        <use href="/images/icons/icons-sprite.svg#burger"></use>
      </svg>
    </button>

    <a class="header-order-btn" href="#work-together">Order the project</a>
  </div>
</header>
