<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Hello.<br>
        I’m Fullstack developer
        Lloyd Jefferson.
      </h1>
      <div class="hero-link-box">
        <ul class="hero-social-list">
          <li class="hero-social-list-item">
            <a class="hero-social-link" href="https://www.instagram.com/goitclub/" target="_blank"
              rel="noopener noreferrer nofollow">IG</a>
          </li>

          <li class="hero-social-list-item">
            <a class="hero-social-link" href="https://www.facebook.com/goITclub/" target="_blank"
              rel="noopener noreferrer nofollow">FB</a>
          </li>

          <li class="hero-social-list-item">
            <a class="hero-social-link" href="https://www.youtube.com/c/GoIT" target="_blank"
              rel="noopener noreferrer nofollow">YT</a>
          </li>

          <li class="hero-social-list-item">
            <a class="hero-social-link" href="https://github.com/MykhailoHozhyi/young-padawans-portfolio"
              target="_blank" rel="noopener noreferrer nofollow">GH</a>
          </li>
        </ul>
        <address class="hero-address">
          <a class="hero-address-email" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</section>