<!-- <header>
  <button id="burger-menu">☰</button>
</header> -->

<div class="mobile-menu-backdrop">
  <nav class="mobile-menu" id="mobileMenu" class="hidden">
    <button class="mobile-close-btn" id="closeMenu" type="button">
      <svg class="mobile-close-icon">
        <use href="/images/icons/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <ul class="mobile-nav-list">
      <li class="mobile-navigation-item"><a href="#about">About me</a></li>
      <li class="mobile-navigation-item"><a href="#benefits">Benefits</a></li>
      <li class="mobile-navigation-item"><a href="#projects">Projects</a></li>
      <li class="mobile-navigation-item"><a href="#faq">FAQ</a></li>
    </ul>
    <button class="order-project" id="order-project">Order the project</button>
  </nav>
</div>
