<section class="projects" id="projects">
  <div class="container projects-container">
    <h2 class="section-projects-title">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="projects-list swiper-wrapper"></ul>
      <div class="projects-arrows">
        <div class="swiper-button-prev">
          <svg class="swiper-button-icon" width="24" height="24">
            <use href="/images/icons/icons-sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="swiper-button-icon" width="24" height="24">
            <use href="/images/icons/icons-sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
