<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <!-- Slider main container -->
    <div class="swiper reviews-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper reviews-list">
        <!-- Slides -->
      </ul>
      <div class="reviews-arrow">
        <div class="reviews-swiper-button-prev reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-prev" width="24" height="24">
            <use href="/images/icons/icons-sprite.svg#arrow-left"></use>
          </svg>
        </div>

        <div class="reviews-swiper-button-next reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-next" width="24" height="24">
            <use href="/images/icons/icons-sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
