.about-accordion-container {
  margin-bottom: 96px;
}
.about-ac {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin: 0 0 32px 0;
  padding-bottom: 32px;
}
.arrow-down {
  transition: transform 0.6s ease;
}
.about-ac.is-active .arrow-down {
  transform: rotate(180deg);
}
.about-ac-header {
  height: 36px;
  margin-bottom: 8px !important;
  position: relative;
}
.ac-trigger.about-ac-trigger {
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  padding: 0;
  z-index: 1;
  height: 100%;
}
.about-ac-trigger::after {
  display: none;
}
.about-svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}
.arrow-down {
  stroke: #fafafa;
}
.about-ac-text {
  line-height: 24px; /* 150% */
  color: #fafafa !important;
  padding: 0 !important;
  margin-bottom: 32px !important;
}
.about-ac-text:last-child {
  margin-bottom: 0 !important;
}
.margin-text {
  margin-bottom: 10px !important;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #33383a;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #001958 22.71%, #0041e8 99.91%);
  height: 200px;
  border-radius: 15px;
  border: 3px solid rgb(117 117 119);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .about-ac-text {
    max-width: 612px;
    margin: 0 0 32px auto !important;
  }
}
