body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  font-style: normal;
  color: #fafafa;
  background-color: #1c1d20;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 64px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
  .section {
    padding-top: 96px;
  }
}
