@font-face {
  font-family: 'Inter Tight', sans-serif;
  src: url(../fonts/AnyConv.com__InterTight-Medium.woff2) format('woff2'),
    url(../fonts/AnyConv.com__InterTight-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight', sans-serif;
  src: url(../fonts/AnyConv.com__InterTight-SemiBold.woff2) format('woff2'),
    url(../fonts/AnyConv.com__InterTight-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  font-style: normal;
  color: #fafafa;
  background-color: #1c1d20;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .container {
    max-width: 1440px;
  }
}
