.title-faq {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.ac.accordion-faq-item {
  background-color: transparent;
  border-bottom: none;
  border-top: 1px solid #fafafa33;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
}
.ac.accordion-faq-item.last-element {
  border-bottom: 1px solid #fafafa33;
}
.ac-trigger.accordion-faq-button {
  display: flex;
  gap: 44px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  font-family: Inter Tight;
  padding: 20px 0px;
  background-color: transparent;
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  position: relative;
}
.arrow-faq {
  fill: none;
  stroke: #ffffff;
  transition: transform 0.3s ease;
}
.arrow-fag:active {
  transform: rotate(180deg);
}

.div.wrapper-title-faq {
  fill: #fafafa;
  border-radius: 100px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border-color: #fafafa;
}
.ac-trigger.accordion-faq-button:focus {
  color: #fafafa;
}

button#ac-trigger-0.ac-trigger.accordion-faq-button::after {
  display: none;
}
button#ac-trigger-1.ac-trigger.accordion-faq-button::after {
  display: none;
}
button#ac-trigger-2.ac-trigger.accordion-faq-button::after {
  display: none;
}
button#ac-trigger-3.ac-trigger.accordion-faq-button::after {
  display: none;
}
button#ac-trigger-4.ac-trigger.accordion-faq-button::after {
  display: none;
}
button#ac-trigger-5.ac-trigger.accordion-faq-button::after {
  display: none;
}
.ac-panel.accordion-faq-answer {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa99;
}
p.answer-faq {
  margin-bottom: 20px;
}
.arrow-faq {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
  transition: transform 0.3s ease;
}
.accordion-faq-item.active .arrow-faq {
  transform: rotate(180deg);
}
.accordion-faq-item.active .ac-panel {
  display: block;
}
.arrow-container {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #fafafa33;
  border-radius: 50%;
}
.ac .ac-trigger::before {
  content: none;
}
.ac .ac-trigger::after {
  content: none;
}
.ac.is-active > .ac-header .ac-trigger::after {
  content: none;
}
@media screen and (min-width: 768px) {
  .ac-trigger.accordion-faq-button {
    padding-top: 32px;
  }
  p.answer-faq {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .li#ac-0.ac.accordion-faq-item.js-enebled {
    margin-top: 0;
  }

  .ac .ac-trigger::after {
    content: none;
  }
  .ac .ac-trigger::before {
    content: none;
  }
  .ac.is-active > .ac-header .ac-trigger::after {
    content: none;
  }
  li.ac.accordion-faq-item {
    margin-top: 0;
  }
  .accordion-container-faq {
    display: flex;
    flex-wrap: wrap;
  }
  .accordion-faq-item {
    flex: 1 1 calc(50% - 10px);
  }
  .ac.accordion-faq-item#ac-4,
  .ac.accordion-faq-item#ac-7 {
    border-bottom: 1px solid #fafafa33;
  }

  .ac.accordion-faq-item.null,
  .ac.accordion-faq-item.third,
  .ac.accordion-faq-item.last-element.five {
    padding-left: 32px;
    min-height: 100%;
    margin-bottom: 0;
  }

  .ac.accordion-faq-item.beforenull,
  .ac.accordion-faq-item.beforetwo,
  .ac.accordion-faq-item.beforethree {
    min-height: 100%;
    padding-right: 32px;
    border-right: 1px solid #fafafa33;
    margin-bottom: 0;
  }

  .ac-trigger.accordion-faq-button {
    padding-top: 32px;
    padding-bottom: 42px;
  }
  p.answer-faq {
    margin-bottom: 26px;
  }
}
