.scroll-up {
  position: fixed;
  right: 8px;
  bottom: 15px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #fcf9f9;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0041e8;
  box-shadow: inset 0 0 0 4px #01288d;
  visibility: hidden;
  opacity: 0;
  transform: translateY(25px);
  transition: color 0.2s ease-in;
}
.scroll-up::before {
  content: "UP";
  letter-spacing: 1px;
  position: absolute;
  transform: scale(1.5);
  top: 2px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: transform 0.2s ease-in;
}
.scroll-up:hover::before {
  transform: scale(1.9);
}
.scroll-up-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1440px) {
  .scroll-up {
    right: calc((100% - 1440px) / 2 + 10px);
  }
}
