/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('../../node_modules/accordion-js/dist/accordion.min.css');
@import url('../../node_modules/basiclightbox/dist/basicLightbox.min.css');
@import url('../../node_modules/swiper/swiper-bundle.min.css');

/* Sections style */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./scroll-up.css');
@import url('./scroll-bar.css');
